<span id="notification-badge" style="position: absolute; top: -5px; right: -10px; font-size: 11px; font-weight: bold; border: 2px solid white;">
  <% if count > 0 %>
    <span style="background: #ff3b30; color: white; border-radius: 50%; padding: 2px 7px; display:inline-block;">
      <%= count %>
    </span>
  <% end %>
</span>